table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 1.2em;
    font-family: Verdana;
} h1,h2,p {text-align: center;}

body{background-color:#C0C0C0}